


<h2>ErrorGenerator</h2>

<p> This page contains a button that, when pressed, will generate a 
    "System out of Memory Exception"</p>



<div class="col-md-12">
    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("GenerateErrorAction", "Error")'"> Generate Error</button>
</div>