@{
    ViewBag.Title = "About";
}

<h1> Meet the Robot on the Run Team</h1>

<p>
    Jared Holliday
    jrholliday@dmacc.edu
    Github Repository Manager, programer

</p>

<p>
    Benjamin Frederickson
    bfrederickson@dmacc.edu
    project manager, programer
</p>

<p>
    Ian Tibe
    imtibe@dmacc.edu
    tester, manage unity, programer
</p>
