@{
    ViewBag.Title = "Home Page";
}

<h1>Robot on the Run!</h1>

<p> Robot on the run is 2-d platform game about a robot who awakes on a planet and in need of repair.
    In order to escape the planet, the robot must collect energy pods and all the broken pieces of himself 
    so he can fix himself. During his journey on this planet, the robot encounters several alien and challaneges 
    that try to stop him from compleating his mission.</p>

<p>
    Each level will be have a different theme and will require different stratgies to complete.
    You can collect object you need to repair yourself and cosmetic object to simply change your apperence.
</p>

<p>
    The items you collect will be recorded and a leader board will be included in the project.
</p>



<img src="~/images/robot.jpg" alt="picture of robot" width="400" height="400"/>
